{% extends "base.html" %}
{% block title %}Don't Get Me Sick: About{% endblock %}
{% block content %}
<body>
<p>This website was created both as an intellectual experiment and to serve a real need.<br />
Namely to allow office workers to deal with the situation of a coworker coming into work sick<br />
when they should have stayed home.<br />
The site will send emails to both the sick person and their boss, notifying them that the<br />
person is sick and should go home.</p>
</body>
{% endblock %}
