{% extends "base.html" %}
{% block title %}Don't Get Me Sick{% endblock %}
{% block content %}
<body>
<p>To use the services of Don't Get Me Sick, please fill out the following form about your sick coworker:</p>
<img src="assets/img/Sick_at_work.jpg" alt="sick at work" align="right" width=500 height=334 style="margin:0px 75px"/>
<form name="SickForm" action="/submit" method="POST" onsubmit="return required()">
    <label>Sick Person's Name:</label>
    <input type="text" name="sick_person_name" {{ sp_name }}>
    <label>Sick Person's Email:</label>
    <input type="text" name="sick_person_email" {{ sp_email }}>
    <label>Their Boss's Email:</label>
    <input type="text" name="boss_email" {{ b_email }}>
    {{ captchahtml }}
    <input type="submit" value="Submit Request">
</form></body>
{% endblock %}
